/* navbar */
.nav-item {
  font-weight: 800;
  padding: 5px 0px 0px 40px;
}
.nav-item-scroll {
  color: black !important
}
.navbar {
  padding: 30px 0px;
}
#brand {
  visibility: hidden;
}
@media (max-width: 990px){
  nav {
      background-color: #353536!important;
      padding: 1rem!important;
  }
  .nav-item {
      font-weight: 800;
      padding: 5px 0px 0px 0px;
  }
  
}
/* banner */
#banner-section {
  position: relative;
  /* background-color: #7B34E5; */
  /* background-image: linear-gradient(to bottom right, #7B34E5 , black); */
  /* background-image: linear-gradient(to bottom right, #634196 , #7B34E5); */
  /* background-image: linear-gradient(to bottom right, #040108, #7B34E5); */
  background-image: url('./img/banner.png');
  min-height: 100vh;
  padding: 120px 0px;
  color: #fff;
  background-size: cover;
  background-position: center;
}
#banner-description-container {
  margin-top: 80px;
  margin-bottom: 40px;
}
#banner-title {
  font-weight: bold;
  text-align: center;
  font-size: 50px;
}

#banner-container-image {
  height: 80%;
  width: 80%;
  object-fit: cover 
}

#banner-input {
  margin-bottom: 5px;
}

#image-banner {
  height: 100%;
  width: 100%;
  object-fit: cover 
}

/* about */
#about {
  background-color: white;
  position: relative;
  z-index: 999;
  margin-bottom: 150px;
}

#app-name {
  color: #7B34E5;
  font-weight: bold;
}

.about-icon {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  border-radius: 50%;
  background-color: #7B34E5;
  color: white;
  font-size: 40px;
}

#about-body {
  margin-top: 40px;
}

.card {
  border: none
}

/* video section */
#video-section {
  /* background-color: rgb(121, 118, 118); */
  position: relative;
  z-index: 999;
  height: 100%;
  margin-bottom: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#video-title {
  text-align: center;
  font-weight: bold;
  margin: 60px 0px 50px 0;
}

#overlay-image {
  width: 100%;
  height: 500px;
  background-color: rgb(146, 63, 201,0.3);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#play-icon {
  width: 70px;
  height: 70px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 40px;
  background-color: #7B34E5;
}

#play-icon-item {
  color:white;
  font-size: 60px;
}

figure { width: 90%; min-width: 17.5em; margin:0 auto;}
.boxVideo {
    position: relative;
    padding-bottom: 56.25%; 
    padding-top: 25px;
    height: 0;
    margin:0 auto;
}
.boxVideo iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#image-video {
  background-image: url('./img/womanTexting.jpg');
  /* width: 700px;
  height: 400px; */
  width: 100%;
  height: 500px;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  border: 5px solid #c4c4c4;
}

/* liked-idea */
#liked-idea {
  margin-top: 150px;
  margin-bottom: 10px;
  height: 100%;
  margin-bottom: 200px;
}

#video-gif {
  width: 100%;
  height: 100%;
}

/* Contacts */

#contacts {
  margin-bottom: 200px;
}

.icon {
  width: 85px;
  height: 80px;
}

.icon-image {
  width: 100%;
  height: 100%
}

/* util */
.description {
  text-align: justify;
}

.title {
  text-align: center;
}

.subtitle {
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 20px;
  color: #504d4d;
}